
#navBar {
	background-color: #FEEDD4;
	font-weight: bold;
}

nav #forLogo {
	font-family: "Roboto", sans-serif; 
}

#forFooter {
	background-color: #FEEDD4;
	font-weight: bold;
}

#forAbout {
	height: 100vh;
}

#landingPage {
	margin: 0px;
	padding-bottom: 10px;
	height: 100vh;
	background-image: url("./../images/forLandingPage.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	justify-content: center;
}

#titleText {
	padding-top: 13%;
}

#titleText h1 {
	color: #2FA378;
}

#landingPage h1 {
	font-family: "Roboto", sans-serif; 
}

#deletePage, #reactivatePage, #logoutPage {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	justify-content: center; 
	align-items: center;
	padding-left: 150px;
}

#deletePage {
	background-image: url("./../images/deleteCourse.png");
}

#reactivatePage {
	background-image: url("./../images/reactivateCourse.png");
}

#logoutPage {
	background-image: url("./../images/logout.svg");
}

#deletePage .row, #reactivatePage .row, #logoutPage .row {
	padding-top: 190px;
	font-family: "Roboto", sans-serif; 
	color: #2FA378;
}

#coursesPage, #profilePage {
	margin: 0px;
	padding-bottom: 10px;
	background-color: #FEEDD4;
}

#editProfile {
	margin: 0px;
	padding-bottom: 10px;
}

#coursesPage .forItems{
	justify-content: space-between;
	align-self: center;
}

.forItems h1, .forItems h2{
	font-family: "Roboto", sans-serif; 
	color: #2FA378;
	font-weight: bold;
}

.forItems h4, #register h2, #login h2, #edit h2, #newCourse h2{
	font-family: "Roboto", sans-serif; 
	color: #F9A826;
}

.forInput {
	border: none;
	border-radius: 0;
	border-bottom: solid;
	border-color: #2F2E41;
}

.forList {
	border: solid;
	border-radius: 5px;
	border-color:  #FEEDD4;
	background-color: #FEEDD4;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 250px;
}

.forTents {
	border: solid;
	border-radius: 5px;
	border-color: white;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px 0px;

}

.forTents img  {
	width: 150px;
	height: 150px;
	background-color: #FEEDD4;
}

.forList img  {
	width: 80px;
	height: 80px;
}

#chooseBtn a {
	color: black;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	padding: 5px 10px;
}

#chooseBtn a:link {
	text-decoration: none;
}

#chooseBtn a:hover {
	background-color: #F9A826;
	border-style: none;
}

#redirectReg {
	color:  #2FA378;
	font-weight: bolder;
}

.card {
	min-height: 100%;
}

.card img{
	margin-top: 10px;
	background-color: #FEEDD4;
	align-self: center;
	height: 150px;
	width: 150px;
}

.card-body {
	margin-top: 20px;
	background-color: #FEEDD4;
}

#archived img{
	background-color: grey;
	margin-top: 10px;
	filter: grayscale(100%);
	opacity: 0.7;
}

#archived .card-body {
	background-color: grey;
	opacity: 0.7;
}

#archived .card-footer {
	background-color: grey;
}


.courseBtn {
	display: inline-block;
	background-color: transparent;
	color: black;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	padding: 5px 10px;
}

.courseBtn:hover {
	background-color: #F9A826;
	border-style: none;
}


.card-footer {
	background-color: #74C649;
}

#activateButton:hover {
	background-color: yellow;
	border-style: none;
}

#deleteButton:hover {
	background-color: red;
	border-style: none;
}

#submitBtn:hover {
	background-color: yellow;
	border-style: none;
	font-weight: bold;
}

#features {
	align-self: center;
}

#featuresImg {
	align-self: center;
}

#secondFeature{
	background-color: #FEEDD4;
}

.row #register {
	background-color: #FEEDD4;
	border-radius: 10px;
}

.row #login, .row #createForm, .row #edit, .row #viewCourse, .row #enroll, .row #profileContainer, #editProfileContainer, .row .forInfo {
	align-self: center;
	justify-content: center;
}

#enroll div, #viewCourse div, #profileContainer div, #editProfile div, #edit div {
	color:  #FF6C7B;
	font-weight: bold;
}

#enroll p, #viewCourse p, #profileContainer p  {
	border: none;
	border-radius: 0;
	border-bottom: solid;
}

#enrolleeName, #courses {
	justify-content: space-evenly;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: transform 0.5s ease-in-out;
	border-radius: 15px;
}

.card:hover {
	transform: scale(1.09);
}

@media (max-width: 330px) {
	.card .infoButton, .card .editButton, #activateButton, #deleteButton {
		font-size: 12px;
	} 
}

@media (max-width: 500px) {
	#landingPage h1 {
	font-size: 25px;
	}
	#landingPage h4{
		font-size: 15px;
	}
	#chooseBtn a {
		font-size: 10px;
	}
	#features h2 {
		font-size: 20px;
	}
	#features p {
		font-size: 15px;
	}
	.row #register {
	border-radius: 0px;
	}
	#reactivatePage, #deletePage, #logoutPage {
	padding: 0px;
	margin: 0px;
	}
	#deletePage .row, #reactivatePage .row {
	padding-top: 100px;
	}
	#forCourses p, #forCourses h4, #forCourses div {
		padding:0px 20px;
	}
	.forList {
		padding: 0px;
		font-size: 12px;
	}
}

@media (min-width: 760px) {
	.loginPage, .registerPage, .edit, .edit-course, .course {
	height: 100vh;
	}
	#registerForm {
		margin: 50px 50px 50px;
	}
	#newCourse {
		margin: 0px 20px 50px;
	}
	#enroll, #viewCourse {
		padding: 50px;
	}
	#profilePage {
		padding: 0px 150px;
	}
	#forCourses p, #forCourses h4, #forCourses div {
		padding:0px 100px;
	}
	.row #register, #login, #createForm, #edit, #enroll, .row .details  {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 20px;
	}
	#editProfile h2 {
		padding: 100px 0px 0px;
	}
	#editProfileContainer {
		margin: 100px 0px;
	}
	.forList {
		padding: 0px;
		font-size: 15px;
	}
	#forCourses p, #forCourses h4, #forCourses div {
		padding:0px 20px;
	}
}

@media (min-width: 1400px) {
	#editProfile {
		padding: 0 70px;
	}
	#register > div {
		padding: 0px;
		margin: 0px 100px;
	}
	#editProfile h2 {
		padding: 100px 0px 0px;
	}
	.forList {
		padding: 30px 30px;
		font-size: 20px;
	}
	#editProfileContainer{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 20px;
	}
}
